NODE_ENV='development'

BASE_URL='http://localhost'
PORT=3300

DB_HOST='localhost'
DB_USER=''
DB_PASSWORD=''
DB_NAME=''

TOKEN_SECRET=''

TOKEN_ISS='http://localhost'
SESSION_SECRET=''

MAILGUN_USERNAME=''
MAILGUN_PASSWORD=''
